.footer{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: var(--branco);
    font-size: 12px;
    background-image: linear-gradient(135deg,
        var(--bg-gradient-1),
        var(--bg-gradient-2));
}