.principal{
    height: 100%;
    height: 100%;
}

.principal__nav{
    width: 100%;
    height: 100%;
    background-color: var(--lateral);
}

.principal__links{
    display: flex;
    align-items: center;
    padding: 30px 0 30px 30px;

    overflow-x: auto;
}

.principal__links li{
    background-color: var(--branco);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px 
        var(--shadow);

    padding: 20px;
    margin: 0 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease-in-out;
}

.principal__links li:hover{
    background-color: var(--bg-gradient-2);
}

.principal__links img{
    max-width: 100px;
    min-width: 60px;
}

.section{
    padding: 30px 30px 0 30px;
}

.section__principal-title h1{
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
    color: var(--title);

    margin: 0 0 5px 0;
}

.section__principal-title h2{
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
    color: var(--title);
}

.section__info{
    display: flex;
    padding: 20px 0;
}

.section__info div{
    width: 80px;
    height: 70px;
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;

    border-radius: 3px 3px 0 0;
    color: var(--title);
    text-align: center;
    background-image: linear-gradient(135deg, 
        var(--bg-gradient-1),
        var(--bg-gradient-2));
    box-shadow: 5px 5px 15px 0px 
        var(--shadow);
}

#número{
    font-size: 50px;
}

#rótulo{
    padding: 5px;

    border-radius: 0 0 3px 3px;
    background-color: var(--branco);
    font-size: 15px;
    box-shadow: 5px 5px 15px 0px 
        var(--shadow);
}

.section__text,.text__tamanho, 
.text__local, .section__infos-text p{
    font-size: 20px;
    color: var(--text);

    margin: 30px 0 30px 0;
}

.lobo-1, .lobo-2, .lobo-3{
    margin: 30px 0 30px 0;
}

.text__origem{
    font-size: 18px;
    color: var(--title);
}

.section__citação{
    padding: 30px;
    margin: 0 0 30px 0;

    border-radius: 5px;
    color: var(--branco);
    text-align: center;
    background-image: linear-gradient(135deg,
        var(--bg-gradient-1),
        var(--bg-gradient-2));
    box-shadow: 5px 5px 15px 0px 
        var(--shadow);
}

.section__citação h1{
    max-width: 600px;
    margin: 0 auto;

    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

.section__list{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 30px;

    border-radius: 5px;
    color: var(--branco);
    font-family: Courier, monospace;
    background-image: linear-gradient(135deg,
        var(--bg-gradient-1),
        var(--bg-gradient-2));
    box-shadow: 5px 5px 15px 0px 
        var(--shadow);
}

.section__list li{
    padding: 15px;
    font-size: 20px;
}

.section__list li + li{
    border-top: 2px solid var(--title);
}

.principal__anuncios{
    padding: 30px;
    display: flex;
    flex-direction: column;

    background-color: var(--lateral);
}

@media (min-width: 400px){

    .principal__anuncios{
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 750px){

    .principal{
        display: grid;
        grid-template: 
        "sidenav main"
        "sidenav anuncios";
    }

    .principal__nav{
        grid-area: sidenav;
    }

    .section{
        grid-area: main;
    }

    .principal__anuncios{
        grid-area: anuncios;
    }

    .principal__links{
        flex-direction: column;
        padding: 30px;
    }

    .principal__links li{
        margin: 0 0 30px 0;
    }

    .section__content{
        display: grid;
        gap: 30px;
        grid-template: 
        "title info" 
        "text text" 
        / 1fr 1fr;
    }

    .section__principal-title{
        grid-area: title;
    }

    .section__info{
        grid-area: info;
        padding: 0;
    }

    .section__text{
        grid-area: text;
    }

    .principal__article{
        display: grid;
        grid-gap: 5px 30px;
        align-items: center;
        grid-template-areas: 
        "lobo-1 origem" 
        "lobo-1 lobo-2" 
        "tamanho local";
    }

    .lobo-1{
        grid-area: lobo-1;
        margin: 0;
    }

    .text__origem{
        grid-area: origem;
        font-size: 15px;
    }

    .text__origem p{
        width: 70%;
    }

    .lobo-2{
        grid-area: lobo-2;
        margin: 0;
    }

    .text__tamanho{
        grid-area: tamanho;
    }

    .text__local{
        grid-area: local;
    }

    .section__infos{
        display: grid;
        gap: 30px;
        grid-template-areas:
        "citação citação"
        "list infos-text"
        "lobo-3 lobo-3";
    }

    .section__citação{
        grid-area: citação;
        margin: 0;
    }

    .section__list{
        grid-area: list;
        margin: 0;
    }

    .section__infos-text{
        grid-area: infos-text;
    }

    .lobo-3{
        grid-area: lobo-3;
    }

}

@media (min-width:1200px){

    .principal{
        display: grid;
        grid-template: 
        "sidenav main anuncios"
        / 1fr 3fr 300px;
    }

    .principal__anuncios{
        display: flex;
        flex-direction: column;
    }
}