.principal{
    height: 100%;
    height: 100%;
}

.principal__nav{
    width: 100%;
    height: 100%;
    background-color: var(--lateral);
}

.principal__links{
    display: flex;
    align-items: center;
    padding: 30px 0 30px 30px;

    overflow-x: auto;
}

.principal__links li{
    background-color: var(--branco);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px 
        var(--shadow);

    padding: 20px;
    margin: 0 30px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.principal__links li:hover{
    background-color: var(--bg-gradient-2);
}

.principal__links img{
    max-width: 100px;
    min-width: 60px;
}

.section{
    padding: 30px 30px 0 30px;
}

.section__principal-title h1{
    font-size: 50px;
    line-height: 1;
    font-weight: 700;
    color: var(--title);

    margin: 0 0 5px 0;
}

.section__principal-title h2{
    font-size: 15px;
    font-style: italic;
    color: var(--title);
}

.section__info{
    display: flex;
    padding: 20px 0;
}

.section__info div{
    width: 80px;
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;

    border-radius: 3px;
    color: var(--title);
    text-align: center;
    background-image: linear-gradient(135deg, 
        var(--bg-gradient-1),
        var(--bg-gradient-2));
    box-shadow: 5px 5px 15px 0px 
        var(--shadow);
}

#número{
    font-size: 50px;
}

#rótulo{
    padding: 5px;

    border-radius: 0 0 3px 3px;
    background-color: var(--branco);
    font-size: 15px;
}

.section__text,.text__tamanho, 
.text__local, .section__infos-texts p{
    font-size: 20px;
    color: var(--text);

    margin: 0 0 30px 0;
}

.lobo-1, .lobo-2, .lobo-3{
    margin: 30px 0 30px 0;
}

.text__origem{
    font-size: 18px;
    color: var(--title);
}

.section__infos-title{
    padding: 30px;
    margin: 0 0 30px 0;

    border-radius: 5px;
    color: var(--branco);
    text-align: center;
    background-image: linear-gradient(135deg,
        var(--bg-gradient-1),
        var(--bg-gradient-2));
    box-shadow: 5px 5px 15px 0px 
        var(--shadow);
}

.section__infos-title h1{
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
}

.section__list{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 30px;

    border-radius: 5px;
    color: var(--branco);
    font-family: Courier, monospace;
    background-image: linear-gradient(135deg,
        var(--bg-gradient-1),
        var(--bg-gradient-2));
    box-shadow: 5px 5px 15px 0px 
        var(--shadow);
}

.section__list li{
    padding: 15px;
    font-size: 20px;
}

.section__list li + li{
    border-top: 2px solid var(--title);
}

.principal__anuncios{
    display: flex;
    align-items: center;
    padding: 30px 0;

    background-color: var(--lateral);
}

.principal__anuncios img{
    max-width: 400px;
    max-height: 300px;
    min-width: 280px;
    min-height: 220px;
    margin: 20px;
}

@media (min-width: 750px){

}

@media (max-width:700px){

    .principal__anuncios{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .principal__anuncios img{
        margin: 20px;
    }
}